<launch>
    <arg name="name" default="" />
    <arg name="name_index" default="" />
    <arg name="sub_name" default="" if="$(eval name == '')"/>
    <arg name="sub_name" default="sensor" if="$(eval name == 'gripper')"/>
    <arg name="ctrl" default="ctrl" if="$(eval name == '')"/>
    <arg name="ctrl" default="data" if="$(eval name == 'gripper')"/>
    <arg name="l_fisheye_port" default="22" />
    <arg name="r_fisheye_port" default="23" />
    <arg name="l_serial_port" default="/dev/ttyUSB0" />
    <arg name="r_serial_port" default="/dev/ttyUSB1" />
    <arg name="l_depth_camera_no" default="230322270688" />
    <arg name="r_depth_camera_no" default="230322272619" />
    <arg name="l_joint_name" default="$(arg name_index)gripper_l_center_joint" />
    <arg name="r_joint_name" default="$(arg name_index)gripper_r_center_joint" />

    <arg name="camera_fps" default="30"/>
    <arg name="camera_width" default="640"/>
    <arg name="camera_height" default="480"/>

    <arg name="motor_current_limit" default="1000" />
    <arg name="motor_current_redundancy" default="500" />
    <arg name="mit_mode" default="true" />
    <arg name="ctrl_rate" default="50" />

	<node pkg="sensor_tools" name="$(arg name_index)serial_gripper_imu_l" type="serial_gripper_imu" output="screen" respawn="true">
	    <param name="serial_port" value="$(arg l_serial_port)"/>
        <param name="joint_name" value="$(arg l_joint_name)"/>
        <param name="motor_current_limit" value="$(arg motor_current_limit)"/>
        <param name="motor_current_redundancy" value="$(arg motor_current_redundancy)"/>
        <param name="mit_mode" value="$(arg mit_mode)"/>
        <param name="ctrl_rate" value="$(arg ctrl_rate)"/>
        <remap from="/imu/data" to="$(arg name)/imu_l/data"/>
        <remap from="/gripper/data" to="$(arg name)/gripper_l/data"/>
        <remap from="/gripper/ctrl" to="$(arg sub_name)/gripper_l/$(arg ctrl)"/>
        <remap from="/gripper/joint_state" to="$(arg name)/gripper_l/joint_state"/>
        <remap from="/gripper/joint_state_ctrl" to="$(arg name)/joint_states_l"/>
        <remap from="/joint_state_info" to="/joint_states_single_l"/>
        <remap from="/joint_state_gripper" to="/joint_states_single_gripper_l"/>
	</node>
	<node pkg="sensor_tools" name="$(arg name_index)serial_gripper_imu_r" type="serial_gripper_imu" output="screen" respawn="true">
	    <param name="serial_port" value="$(arg r_serial_port)"/>
        <param name="joint_name" value="$(arg r_joint_name)"/>
        <param name="motor_current_limit" value="$(arg motor_current_limit)"/>
        <param name="motor_current_redundancy" value="$(arg motor_current_redundancy)"/>
        <param name="mit_mode" value="$(arg mit_mode)"/>
        <param name="ctrl_rate" value="$(arg ctrl_rate)"/>
        <remap from="/imu/data" to="$(arg name)/imu_r/data"/>
        <remap from="/gripper/data" to="$(arg name)/gripper_r/data"/>
        <remap from="/gripper/ctrl" to="$(arg sub_name)/gripper_r/$(arg ctrl)"/>
        <remap from="/gripper/joint_state" to="$(arg name)/gripper_r/joint_state"/>
        <remap from="/gripper/joint_state_ctrl" to="$(arg name)/joint_states_r"/>
        <remap from="/joint_state_info" to="/joint_states_single_r"/>
        <remap from="/joint_state_gripper" to="/joint_states_single_gripper_r"/>
	</node>
    <node pkg="sensor_tools" name="$(arg name_index)camera_fisheye_l" type="usb_camera.py" output="screen" respawn="true">
        <param name="camera_port" value="$(arg l_fisheye_port)"/>
        <param name="camera_fps" value="$(arg camera_fps)"/>
        <param name="camera_width" value="$(arg camera_width)"/>
        <param name="camera_height" value="$(arg camera_height)"/>
        <param name="camera_frame_id" value="$(arg name)/camera_fisheye_l_link"/>
        <remap from="/camera_rgb/color/image_raw" to="$(arg name)/camera_fisheye_l/color/image_raw"/>
        <remap from="/camera_rgb/color/camera_info" to="$(arg name)/camera_fisheye_l/color/camera_info"/>
    </node>
    <node pkg="sensor_tools" name="$(arg name_index)camera_fisheye_r" type="usb_camera.py" output="screen" respawn="true">
        <param name="camera_port" value="$(arg r_fisheye_port)"/>
        <param name="camera_fps" value="$(arg camera_fps)"/>
        <param name="camera_width" value="$(arg camera_width)"/>
        <param name="camera_height" value="$(arg camera_height)"/>
        <param name="camera_frame_id" value="$(arg name)/camera_fisheye_r_link"/>
        <remap from="/camera_rgb/color/image_raw" to="$(arg name)/camera_fisheye_r/color/image_raw"/>
        <remap from="/camera_rgb/color/camera_info" to="$(arg name)/camera_fisheye_r/color/camera_info"/>
    </node>
    <include file="$(find realsense2_camera)/launch/multi_camera.launch">
        <arg name="serial_no_camera1" value="$(arg l_depth_camera_no)"/>
        <arg name="serial_no_camera2" value="$(arg r_depth_camera_no)"/>
        <arg name="camera1" value="$(arg name)/camera_l"/>
        <arg name="camera2" value="$(arg name)/camera_r"/>

        <arg name="camera_fps" value="$(arg camera_fps)"/>
        <arg name="camera_width" value="$(arg camera_width)"/>
        <arg name="camera_height" value="$(arg camera_height)"/>
    </include>
</launch>

