<launch>
    <arg name="fisheye_port" default="22" />
    <node pkg="sensor_tools" name="camera_fisheye" type="usb_camera.py" output="screen">
        <param name="camera_port" value="$(arg fisheye_port)"/>
        <remap from="/camera_rgb/color/image_raw" to="/camera_fisheye/color/image_raw"/>
    </node>
</launch>

