<launch>

    <arg name="project" default="data_tools"/>
    <arg name="type" default="aloha"/>

    <!-- Parameters -->
    <rosparam file="$(find data_tools)/config/$(arg type)_data_params.yaml" command="load" />

    <arg name="useService" default="false"/>
    <arg name="episodeIndex" default="0"/>
    <arg name="datasetDir" default="/home/agilex/data"/>
    <arg name="instructions" default="[null]"/>
    <arg name="hz" default="20"/>
    <arg name="timeout" default="2"/>
    <arg name="cropTime" default="1"/>
    <param name="useService" value="$(arg useService)"/>
    <param name="episodeIndex" value="$(arg episodeIndex)"/>
    <param name="datasetDir" value="$(arg datasetDir)"/>
    <param name="instructions" value="$(arg instructions)"/>
    <param name="hz" value="$(arg hz)"/>
    <param name="timeout" value="$(arg timeout)"/>
    <param name="cropTime" value="$(arg cropTime)"/>

    <node pkg="$(arg project)" type="$(arg project)_dataCapture" name="$(arg project)_dataCapture" output="screen" required="true"/>
</launch>
