<launch>

    <arg name="project" default="data_tools"/>
    <arg name="type" default="aloha"/>
    
    <!-- Parameters -->
    <rosparam file="$(find data_tools)/config/$(arg type)_data_params.yaml" command="load" />

    <arg name="episodeIndex" default="0"/>
    <arg name="datasetDir" default="/home/agilex/data"/>
    <arg name="publishRate" default="30"/>
    <arg name="publishIndex" default="-1"/>
    <param name="episodeIndex" value="$(arg episodeIndex)"/>
    <param name="datasetDir" value="$(arg datasetDir)"/>
    <param name="publishIndex" value="$(arg publishIndex)"/>
    <param name="publishRate" value="$(arg publishRate)"/>

    <node pkg="$(arg project)" type="$(arg project)_dataPublish" name="$(arg project)_dataPublish" output="screen" required="true"/>

</launch>
