<launch>
  <!-- 定义 mode 参数，默认值为 0,读取主从臂的消息，并转发到ROS -->
  <arg name="mode" default="1" />
  <arg name="auto_enable" default="true" />
  <!-- 启动左侧机械臂节点 -->
    <node name="$(anon piper_left)" pkg="piper" type="piper_start_ms_node.py" output="screen">
      <param name="can_port" value="left_piper" />
      <param name="mode" value="$(arg mode)" />
      <param name="auto_enable" value="$(arg auto_enable)" />
      <remap from="/puppet/joint_states" to="/joint_states_single_l" />
      <remap from="/master/joint_states" to="/joint_states_gripper_l" />
    </node>

  <!-- 启动右侧机械臂节点 -->
    <node name="$(anon piper_right)" pkg="piper" type="piper_start_ms_node.py" output="screen">
      <param name="can_port" value="right_piper" />
      <param name="mode" value="$(arg mode)" />
      <param name="auto_enable" value="$(arg auto_enable)" />
      <remap from="/puppet/joint_states" to="/joint_states_single_r" />
      <remap from="/master/joint_states" to="joint_states_gripper_r" />
    </node>
</launch>

